:root {
    --main-color: #BB2D3B;
    --rating-color: red;
    --shop-color: rgb(208, 255, 0);
    --secondary-color: white;
    --font-family: 'Encode Sans Expanded', sans-serif;
}

body {
    font-family: var(--font-family) !important;
}

.cursor-pointer {
    cursor: pointer;
}

.bg-img {
    height: 100vh;
    background-image: url(../images/bg.jpg);
    background-position: center center;
    background-size: cover;
}

.bg-img1 {
    height: 100%;
    background-image: url(../images/bg.jpg);
    background-position: center center;
    background-size: cover;
}

.login-form {
    background-color: inherit !important;
    border: 1px solid rgba(255, 255, 255, 0.314);

}

.text-color {
    color: var(--main-color);
}

input {
    background-color: inherit !important;
    color: white !important;
}

input:focus {
    border-color: var(--main-color) !important;
    box-shadow: 2px 2px var(--main-color) !important;
}

::placeholder {
    color: var(--secondary-color) !important;
}

.nav-main {
    background-color: rgba(0, 0, 0, 0.236);
}


.text-main {
    color: white;
}

.rating-color {
    color: var(--rating-color);
}

.shop-color {
    color: var(--shop-color);
}

.bg-color {
    background-color: #bb2d3b75;
}

.cartIcon {
    background-color: red;
    color: white;
    width: 50px !important;
    height: 50px;
    border-radius: 50px;
}

img {
    height: 300px;
}